
/**
 * @file
 * Stylesheet used in the invoice template.
 */

.field-name-commerce-order-total .commerce-price-formatted-components {
  width: 33%;
  margin-left: auto;
}
.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  font-weight: bold;
}
.products ul{
  display:none;
}
tr.odd {
  background: none repeat scroll 0 0 #FFFFFF;
}
tr.even {
  background: none repeat scroll 0 0 #EFEFEF;
}
.component-title {
  font-weight: bold;
}
table {
  width:100%;
  border-spacing: 0;
  font-size: 12px;
}
table.details td {
  padding: 0 5px;
}
table th {
  background: #000;
  color: #FFF;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
}
table th,
.products table td {
  padding: 4px 5px;
}
.component-total,
.views-field-commerce-total {
  width: 100px!important;
  text-align: right;
}
.line-items {
  border-bottom: 1px dotted #CCC;
}
.products table.commerce-price-formatted-components {
  width: 200px;
  padding-top: 20px;
  float: right;
}
